.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome
{
    background-color: lightgrey;
    height: 200px;
    width: 90%;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
h2{
    margin-top: 10px;
}
#learn-more-button{
    background-color: blue;
    border: none;
    width: 95%;
    height:30px;
    margin-left:10px;
    margin-right: 10px;
    border-radius: 5px;
    border-color: blue;
    color: white;
}
#welcome-text
{
    margin-top: 50px;
    margin-bottom: 1px;
}
.container2
{
    width: 90%;
}

footer
{
    margin-top: 10px;
    width: 100%;
    background-color: lightgreen;
    opacity: 0.7;
    color: green;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    
}

.image-gallery
{
    display: flex;

}
.images-para
{
    display: flex;
    flex-direction: row;
}
.col1,.col2,.col3
{
    /* margin: 10px; */
    padding: 5px;
}
img{
    height: 200px;
    width:300px;
}